*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #b80000;    
}

.main{
    margin: 20px auto;
    max-width: 95vw;
    max-height: 93vh;
    background-color: #ffffff;
    padding: 20px 2%;
    text-align: center;
    border-radius: 20px;
}

.main .logo{
    max-width: 20vw;
}
.main .pokebola{
    max-width: 5vw;
    opacity: 1;
}

.main input{
    width: 50%;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    
}

.pokemonBoxes{
    max-height:55vh;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.pokemonBox{
    width: 21%;
    margin: 20px 2%;
    background-color: #dddddd;
    border-radius: 10px;
}

.pokemonBox img{
    width: 100%;
}

.pokemonBox p {
    color: #000000;
    font-size: 21px;
    text-align: center;
    padding: 10px 0;
}


@media(max-width: 768px){
    .pokemonBox{
        width: 100%;
        text-align: center;
    }
    .pokemonBox img{
        max-width: 300px;
    }
}