*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #44c0e6;    
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 1px;
    width: 98vw;
    height: 95vh;
    background-color: #b80000;
    align-items: center;
    justify-items: center;
    border-radius: .7em;
}
.grid1{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    height: 10%;
    width: 90%;
    justify-items: center;
    align-items: center;
}
.grid1 .logo{
    max-width: 15vw;
    object-fit: contain;
    grid-column: 1;
}

.grid1 .searchBox{
    display: flex;
    margin:10px auto;
    padding: 10px;
    gap: 10px;
}
.grid2{
    padding: 2px auto;
    margin: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 10px;
    width: 80%;
    height: 80%;
}

.pokemonSprite{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #338aa5;
    align-items: center;
    justify-content: center;
    grid-column: 1;
    grid-row: 1/4;
    padding: 45px;
}
.pokemonSprite h1{
    color: #ffffff;
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
}

.pokemonSprite img{
    width: 80%;
    object-fit: contain;
}

.pokemonInfo{
    padding: 10px;
    border-radius: 5px;
    background-color: #eeeeee;
}
.pokemonInfo h1{
    color: #000000;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}

#info3{
    grid-column: 2/4;
    
}


h1{
    color: #ffffff;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}

::-webkit-scrollbar{
    background-color: #eeeeee;
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #b80000;
    border-radius: 5px;
    height: 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media(max-width: 768px){
    .pokemonBox{
        width: 100%;
        text-align: center;
    }
    .pokemonBox img{
        max-width: 300px;
    }
    p{
        font-size: 12px;
    }
    input{
        width: 40%;
    }
}